*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		font-family: "Afacad Flux", sans-serif;
}
body{
	background-color: #EAE8D6;
	height: 500px;
}

}
header{
	padding: 40px;
}

header a{
	color: #6B6B6B;
	font-size: 32px;
	text-decoration: none;
	margin-left: 50;
	display: inline-block;
	transition: 0.5s;
	
}
header a:hover{
	color:#000000 ;
	transform: scale(1.5);
}
header > .interface{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header nav ul{
	list-style-type: none;
}
header nav ul li{
	display: inline-block;
	padding: 70px;
}
header .contato button{
	height: 80px;
	width: 200px;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 600;
	background-color: #3CFF00;
	border-radius: 40px;
	margin-right: 50px;
}
.logo {
	height: 130px;
	margin-left:25px ;
	margin-bottom: 15px;

}
header .contato button:hover {
   box-shadow: 0px 0px 8px #00FF24;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8dc;
   
}

.row-container {
	margin-top: 100px;
    display: flex;
    justify-content: space-between;
  
}

.box, .box2 {
    width: 45%;
    min-height: 300px;
    background-color: #e0c8a6;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
}

.box-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

.box-text {
    font-size: px;
    line-height: 1.6;
    color: #333;
    text-align: left;
}
.card-img-top{
	align-items: center;
	border: 1000px;
	background-color: #7F7171;
}
.card-text{
	font-size: 24px;
	text-align: ce;
}
.final{
	background-color: #C9BC74;
 	height: 400px;
 	border-radius:   20px 20px 0  0  ;

}
..contact-section {
    background-color: #d3c07f;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    margin: 20px 0;
}

.button {
    background-color: #e6e6e6;
    padding: 15px 30px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button img {
    width: 25px;
    height: 25px;
}

.button span {
    font-size: 1.5em;
    font-weight: bold;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.contact-item {
    text-align: center;
}

.contact-item p {
    font-size: 1.2em;
    margin: 5px 0;
}

.contact-item strong {
    font-size: 1.3em;
} 24px;
